In [1]:
import os
print(os.getcwd())

/home/ed/Documents/ADB_WORK/DATA_TEAM

In [2]:
import pandas as pd
stealthData = pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H1_2019.csv") 
ihsData = pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H1_2021.csv") 
print(stealthData.shape)
print(ihsData.shape)

(104366, 35)
(132729, 35)

In [3]:
#https://datacarpentry.org/python-ecology-lesson/05-merging-data/
#https://stackoverflow.com/questions/52063805/pandas-joining-specific-columns-of-one-data-frame-to-another
mergedDataInner=pd.merge(stealthData, ihsData, on='imo', how='inner')
print(mergedDataInner.shape)
mergedDataInner.head(10)

(4444399, 69)

,FID_x,mmsi_x,imo,vessel_name_x,callsign_x,vessel_type_x,vessel_type_code_x,vessel_type_cargo_x,vessel_class_x,length_x,...,source_y,ts_pos_utc_y,ts_static_utc_y,dt_pos_utc_y,dt_static_utc_y,vessel_type_main_y,vessel_type_sub_y,message_type_y,eeid_y,dtg_y
0,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210212073750,20210212073750,2021-02-12 07:37:50,2021-02-12 07:37:50,NaN,NaN,27,NaN,2021-02-12T07:37:50
1,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210212075852,20210212075852,2021-02-12 07:58:52,2021-02-12 07:58:52,NaN,NaN,1,NaN,2021-02-12T07:58:52
2,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210212083233,20210212083233,2021-02-12 08:32:33,2021-02-12 08:32:33,NaN,NaN,3,NaN,2021-02-12T08:32:33
3,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210212085252,20210212085252,2021-02-12 08:52:52,2021-02-12 08:52:52,NaN,NaN,27,NaN,2021-02-12T08:52:52
4,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210212090342,20210212090342,2021-02-12 09:03:42,2021-02-12 09:03:42,NaN,NaN,1,NaN,2021-02-12T09:03:42
5,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210608093855,20210608093855,2021-06-08 09:38:55,2021-06-08 09:38:55,NaN,NaN,27,NaN,2021-06-08T09:38:55
6,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210608100950,20210608100950,2021-06-08 10:09:50,2021-06-08 10:09:50,NaN,NaN,1,NaN,2021-06-08T10:09:50
7,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210608103110,20210608103110,2021-06-08 10:31:10,2021-06-08 10:31:10,NaN,NaN,1,NaN,2021-06-08T10:31:10
8,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210608104130,20210608104130,2021-06-08 10:41:30,2021-06-08 10:41:30,NaN,NaN,1,NaN,2021-06-08T10:41:30
9,9cf79b0ba3d0144b032c7db02f29ec46,477139100,9783459.0,COSCO TAURUS,VRRE2,Cargo,71.0,"Carrying DG,HS or MP,IMO hazard or Pollutant C...",A,400.0,...,T-AIS,20210608094511,20210608094511,2021-06-08 09:45:11,2021-06-08 09:45:11,NaN,NaN,1,NaN,2021-06-08T09:45:11

In [ ]:
dataTypeObj = mergedDataInner.dtypes['dt_pos_utc_x']
print(dataTypeObj)
# convert the 'dt_pos_utc_y' column to datetime format
mergedDataInner['dt_pos_utc_x']= pd.to_datetime(mergedDataInner['dt_pos_utc_x'])
dataTypeObj = mergedDataInner.dtypes['dt_pos_utc_x']
print(dataTypeObj)

In [ ]:
print(mergedDataInner.columns)
mergedDataInner=mergedDataInner.sort_values(by='dt_pos_utc_x')
mergedDataInner.head(10)

In [ ]:
mergedDataRight=pd.merge(stealthData, ihsData, on='imo', how='right')
print(mergedDataRight.shape)
mergedDataRight.head(10)

In [ ]:
temp=ihsData.merge(stealthData, on='imo')
print(temp.shape)
temp.head(10)

In [ ]:
mergedData.to_csv('mergedData.csv')

In [3]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
import pyspark.sql.functions as F 
#import * from pyspark.sql.types 
from datetime import date, timedelta, datetime
import time
import matplotlib.pyplot as plt
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DoubleType, TimestampType
from pyspark.sql.types import IntegerType

In [4]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession\
  .builder\
  .appName("new_workflow")\
  .getOrCreate()
# df = spark.sql("select ‘spark’ as hello ")
# df.show()

In [5]:
h1_2019= pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H1_2019.csv") 
h2_2019 = pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H2_2019.csv") 
h1_2020= pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H1_2020.csv") 
h2_2020 = pd.read_csv("IHS/ExactEarth__Historical__Query_Lake_H2_2020.csv") 

print(h1_2019.shape)
print(h2_2020.shape)
print(h1_2019.shape)
print(h2_2020.shape)

print("\n")

df1 = spark.read.option("header","true").format("csv").load("IHS/ExactEarth__Historical__Query_Lake_H1_2019.csv")
df2 = spark.read.option("header","true").format("csv").load("IHS/ExactEarth__Historical__Query_Lake_H2_2019.csv")
df3 = spark.read.option("header","true").format("csv").load("IHS/ExactEarth__Historical__Query_Lake_H1_2020.csv")
df4 = spark.read.option("header","true").format("csv").load("IHS/ExactEarth__Historical__Query_Lake_H2_2020.csv")
print((df1.count(), len(df1.columns)))
print((df2.count(), len(df2.columns)))
print((df3.count(), len(df3.columns)))
print((df4.count(), len(df4.columns)))
df1.printSchema()

#add portname column to merged Stealth data with port suez canal

(104366, 35)
(130991, 35)
(104366, 35)
(130991, 35)


(104366, 35)
(178541, 35)
(150116, 35)
(130991, 35)
root
 |-- FID: string (nullable = true)
 |-- mmsi: string (nullable = true)
 |-- imo: string (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_type_code: string (nullable = true)
 |-- vessel_type_cargo: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- length: string (nullable = true)
 |-- width: string (nullable = true)
 |-- flag_country: string (nullable = true)
 |-- flag_code: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- eta: string (nullable = true)
 |-- draught: string (nullable = true)
 |-- position: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- sog: string (nullable = true)
 |-- cog: string (nullable = true)
 |-- rot: string (nullable = true)
 |-- heading: string (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- nav_status_code: string (nullable = true)
 |-- source: string (nullable = true)
 |-- ts_pos_utc: string (nullable = true)
 |-- ts_static_utc: string (nullable = true)
 |-- dt_pos_utc: string (nullable = true)
 |-- dt_static_utc: string (nullable = true)
 |-- vessel_type_main: string (nullable = true)
 |-- vessel_type_sub: string (nullable = true)
 |-- message_type: string (nullable = true)
 |-- eeid: string (nullable = true)
 |-- dtg: string (nullable = true)

In [6]:
df4.show(5)
df1_2 = df1.union(df2)
print((df1_2.count(), len(df1_2.columns)))
df3_4 = df3.union(df4)
print((df3_4.count(), len(df3_4.columns)))
df1_2_3_4=df1_2.union(df3_4)
print((df1_2_3_4.count(), len(df1_2_3_4.columns)))

uniqueIMO=df1_2_3_4.select('mmsi').distinct().collect()
print("Unique mmsi: ",len(uniqueIMO))
#Get data type of a specific column
print(df1_2_3_4.schema["imo"].dataType)
df1_2_3_4 = df1_2_3_4.withColumn("imo", df1_2_3_4["imo"].cast(IntegerType()))
print(df1_2_3_4.schema["imo"].dataType)
df1_2_3_4.printSchema()
df1_2_3_4.orderBy('imo',ascending=True)
df1_2_3_4.createOrReplaceTempView('df')
distinctIMO=spark.sql("""
    SELECT distinct
        imo
    FROM
        df
    """)
print(distinctIMO.show(5))
print(distinctIMO.count())
distinctIMO=distinctIMO.orderBy('imo', ascending=True)
print(distinctIMO.show(15))

+--------------------+---------+-------+-------------+--------+-----------+----------------+--------------------+------------+------+-----+--------------+---------+-----------+--------+-------+--------------------+-----------+-----------+----+-----+---+-------+--------------------+---------------+------+--------------+--------------+-------------------+-------------------+--------------------+--------------------+------------+----+-------------------+
|                 FID|     mmsi|    imo|  vessel_name|callsign|vessel_type|vessel_type_code|   vessel_type_cargo|vessel_class|length|width|  flag_country|flag_code|destination|     eta|draught|            position|  longitude|   latitude| sog|  cog|rot|heading|          nav_status|nav_status_code|source|    ts_pos_utc| ts_static_utc|         dt_pos_utc|      dt_static_utc|    vessel_type_main|     vessel_type_sub|message_type|eeid|                dtg|
+--------------------+---------+-------+-------------+--------+-----------+----------------+--------------------+------------+------+-----+--------------+---------+-----------+--------+-------+--------------------+-----------+-----------+----+-----+---+-------+--------------------+---------------+------+--------------+--------------+-------------------+-------------------+--------------------+--------------------+------------+----+-------------------+
|9fff1d0d8bafac7c1...|477932400|9565637|BOCHEM MUMBAI|   VRHJ8|     Tanker|              80|                null|           A|   171|   27|     Hong Kong|      477|  PORT SAID|06301300|   11.2|POINT (32.3643916...|32.36439167|30.38355167|10.1|169.2|  0|    169|Under Way Using E...|              0| T-AIS|20200701033416|20200701033416|2020-07-01 03:34:16|2020-07-01 03:34:16|Oil And Chemical ...|Chemical Oil Prod...|           1|null|2020-07-01T03:34:16|
|6da04749121b8bcae...|477932400|9565637|BOCHEM MUMBAI|   VRHJ8|     Tanker|              80|                null|           A|   171|   27|     Hong Kong|      477|  PORT SAID|06301300|   11.2|POINT (32.3666283...|32.36662833|30.37253667| 9.5|  170|  0|    169|Under Way Using E...|              0| T-AIS|20200701033813|20200701033813|2020-07-01 03:38:13|2020-07-01 03:38:13|Oil And Chemical ...|Chemical Oil Prod...|           3|null|2020-07-01T03:38:13|
|01e7af447fcd62ae6...|319104700|9749805|   SNOW PLOEG|   ZGFI6|     Tanker|              89|No Additional Inf...|           A|   146|   24|Cayman Islands|      319|       SUEZ|06301230|   10.2|POINT (32.366435 ...|  32.366435|   30.37157|  11|170.7|  0|    171|Under Way Using E...|              0| T-AIS|20200701034415|20200701034415|2020-07-01 03:44:15|2020-07-01 03:44:15|Oil And Chemical ...|     Chemical Tanker|           1|null|2020-07-01T03:44:15|
|57b7bcb7055ff010b...|477932400|9565637|BOCHEM MUMBAI|   VRHJ8|     Tanker|              80|                null|           A|   171|   27|     Hong Kong|      477|  PORT SAID|06301300|   11.2|POINT (32.3694083...|32.36940833|  30.358235| 7.4|174.9|  0|    179|Under Way Using E...|              0| T-AIS|20200701034436|20200701034436|2020-07-01 03:44:36|2020-07-01 03:44:36|Oil And Chemical ...|Chemical Oil Prod...|           1|null|2020-07-01T03:44:36|
|ead12b487abb227f9...|477932400|9565637|BOCHEM MUMBAI|   VRHJ8|     Tanker|              80|                null|           A|   171|   27|     Hong Kong|      477|  PORT SAID|06301300|   11.2|POINT (32.3691566...|32.36915667|   30.35443| 6.5|188.5|  0|    187|Under Way Using E...|              0| T-AIS|20200701034635|20200701034635|2020-07-01 03:46:35|2020-07-01 03:46:35|Oil And Chemical ...|Chemical Oil Prod...|           1|null|2020-07-01T03:46:35|
+--------------------+---------+-------+-------------+--------+-----------+----------------+--------------------+------------+------+-----+--------------+---------+-----------+--------+-------+--------------------+-----------+-----------+----+-----+---+-------+--------------------+---------------+------+--------------+--------------+-------------------+-------------------+--------------------+--------------------+------------+----+-------------------+
only showing top 5 rows

(282907, 35)
(281107, 35)
(564014, 35)
Unique mmsi:  11036
StringType
IntegerType
root
 |-- FID: string (nullable = true)
 |-- mmsi: string (nullable = true)
 |-- imo: integer (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_type_code: string (nullable = true)
 |-- vessel_type_cargo: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- length: string (nullable = true)
 |-- width: string (nullable = true)
 |-- flag_country: string (nullable = true)
 |-- flag_code: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- eta: string (nullable = true)
 |-- draught: string (nullable = true)
 |-- position: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- sog: string (nullable = true)
 |-- cog: string (nullable = true)
 |-- rot: string (nullable = true)
 |-- heading: string (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- nav_status_code: string (nullable = true)
 |-- source: string (nullable = true)
 |-- ts_pos_utc: string (nullable = true)
 |-- ts_static_utc: string (nullable = true)
 |-- dt_pos_utc: string (nullable = true)
 |-- dt_static_utc: string (nullable = true)
 |-- vessel_type_main: string (nullable = true)
 |-- vessel_type_sub: string (nullable = true)
 |-- message_type: string (nullable = true)
 |-- eeid: string (nullable = true)
 |-- dtg: string (nullable = true)

+-------+
|    imo|
+-------+
|9748291|
|9524463|
|9545209|
|9410789|
|9443619|
+-------+
only showing top 5 rows

None
10638
+-------+
|    imo|
+-------+
|   null|
|     29|
|   1076|
|   2631|
|1002213|
|1002677|
|1002706|
|1003267|
|1005411|
|1005796|
|1006013|
|1006221|
|1006532|
|1006544|
|1006738|
+-------+
only showing top 15 rows

None

In [9]:
#read IHS Data
IHS_2020 = spark.read.option("header","true").format("csv").load("IHS/MovementData_2020.CSV")
print((IHS_2020.count(), len(IHS_2020.columns)))
IHS_2019 = spark.read.option("header","true").format("csv").load("IHS/MovementData_2019.CSV")
print((IHS_2019.count(), len(IHS_2019.columns)))
mergedIHS=IHS_2019.union(IHS_2020)
print((mergedIHS.count(), len(mergedIHS.columns)))
mergedIHS.printSchema()
# the only columns that we will be using:

(14078083, 21)
(14564071, 21)
(28642154, 21)
root
 |-- LRNOIMOShipNo: string (nullable = true)
 |-- ShipName: string (nullable = true)
 |-- ShipType: string (nullable = true)
 |-- ArrivalDateFull: string (nullable = true)
 |-- ArrivalDraught: string (nullable = true)
 |-- SailDateFull: string (nullable = true)
 |-- DepartureDraught: string (nullable = true)
 |-- CallID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PortID: string (nullable = true)
 |-- PortName: string (nullable = true)
 |-- HoursinPort: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- ETA: string (nullable = true)
 |-- LastPortofCallArrivalDate: string (nullable = true)
 |-- LastPortofCallCode: string (nullable = true)
 |-- LastPortofCallCountry: string (nullable = true)
 |-- LastPortofCallCountryCode: string (nullable = true)
 |-- LastPortofCallName: string (nullable = true)
 |-- LastPortofCallSailDate: string (nullable = true)
 |-- Movementtype: string (nullable = true)

In [10]:
print(mergedIHS.show(5))
mergedIHS = mergedIHS.withColumn("LRNOIMOShipNo", mergedIHS["LRNOIMOShipNo"].cast(IntegerType()))
print(type(distinctIMO))
old_columns=distinctIMO.columns
print(old_columns)
new_columns = [column.replace('imo','LRNOIMOShipNo') for column in old_columns]
print(new_columns)
def df_col_rename(X, to_rename, replace_with):
    """
    :param X: spark dataframe
    :param to_rename: list of original names
    :param replace_with: list of new names
    :return: dataframe with updated names
    """
    import pyspark.sql.functions as F
    mapping = dict(zip(to_rename, replace_with))
    X = X.select([F.col(c).alias(mapping.get(c, c)) for c in to_rename])
    return X
distinctIMO=df_col_rename(distinctIMO, old_columns, new_columns)
print("NEW SCHEMA:\n")
distinctIMO.printSchema()
mergedIHS.createOrReplaceTempView('ihs')
print(distinctIMO.count())
IMOlist = distinctIMO.select("LRNOIMOShipNo").rdd.flatMap(lambda x: x).collect()
IMOlist.pop(0)
print(IMOlist[0],IMOlist[1])
print(type(IMOlist))
IMOstring='('+  ','.join([str(i) for i in IMOlist])+')'
# print("IMO STRING: ",IMOstring)
query= """SELECT * FROM ihs WHERE LRNOIMOShipNo IN {}""".format(IMOstring)
# print(query)
merged=spark.sql(query)
print("Number of rows of query result: ", merged.count())
merged=merged.orderBy('LRNOIMOShipNo', ascending=True)
print(merged.show(5))
# q25 = 500
# var2 = 50
# Q1 = spark.sql("SELECT col1 from table where col2>{0} limit {1}".format(var2,q25))

+-------------+--------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+------------------+-----------+--------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+------------+
|LRNOIMOShipNo|ShipName|ShipType|    ArrivalDateFull|ArrivalDraught|       SailDateFull|DepartureDraught|   CallID|Country|PortID|          PortName|HoursinPort|         Destination|                ETA|LastPortofCallArrivalDate|LastPortofCallCode|LastPortofCallCountry|LastPortofCallCountryCode|LastPortofCallName|LastPortofCallSailDate|Movementtype|
+-------------+--------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+------------------+-----------+--------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+------------+
|      1000021| MONTKAJ|   Yacht|2019-03-16 15:50:41|         3.600|2019-03-16 21:59:25|           3.600|112760618| Canada| 25350|Vancouver (Canada)|          6|                null|               null|                     null|              null|                 null|                     null|              null|                  null|        null|
|      1000021| MONTKAJ|   Yacht|2019-04-11 20:59:42|         3.600|2019-04-11 21:48:43|           3.600|113778745|  Japan|  null|              null|          1|                null|               null|                     null|              null|                 null|                     null|              null|                  null|        null|
|      1000021| MONTKAJ|   Yacht|2019-04-17 04:45:21|         7.500|2019-04-17 04:59:46|           7.500|113986345|  Japan|  null|              null|          0|   Nagoya North Side|2019-04-17 18:30:00|                     null|              null|                 null|                     null|              null|                  null|        null|
|      1000021| MONTKAJ|   Yacht|2019-04-17 04:59:46|         7.500|2019-04-17 05:51:25|           3.600|113986908|  Japan|  null|              null|          1|Cannes Piere Cant...|2019-04-15 11:30:00|      2019-04-17 04:45:21|              5222|                Japan|                      JAP|Kisarazu Anchorage|   2019-04-17 04:59:46|        null|
|      1000021| MONTKAJ|   Yacht|2019-05-24 19:13:41|         7.500|2019-05-24 19:59:35|           7.500|115483722|Bonaire|  null|              null|          0|                null|               null|                     null|              null|                 null|                     null|              null|                  null|        null|
+-------------+--------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+------------------+-----------+--------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+------------+
only showing top 5 rows

None
<class 'pyspark.sql.dataframe.DataFrame'>
['imo']
['LRNOIMOShipNo']
NEW SCHEMA:

root
 |-- LRNOIMOShipNo: integer (nullable = true)

10638
29 1076
<class 'list'>
Number of rows of query result:  2360037
+-------------+------------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+--------+-----------+-------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+--------------------+
|LRNOIMOShipNo|    ShipName|ShipType|    ArrivalDateFull|ArrivalDraught|       SailDateFull|DepartureDraught|   CallID|Country|PortID|PortName|HoursinPort|        Destination|                ETA|LastPortofCallArrivalDate|LastPortofCallCode|LastPortofCallCountry|LastPortofCallCountryCode|LastPortofCallName|LastPortofCallSailDate|        Movementtype|
+-------------+------------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+--------+-----------+-------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+--------------------+
|      1002213|KINGDOM 5-KR|   Yacht|2019-09-24 07:36:00|         4.800|2019-09-24 11:55:08|           4.800|120525198|  Italy| 23034|San Remo|          4|           San Remo|2019-09-24 08:00:00|      2019-08-05 17:33:29|              6289|           Montenegro|                      MTN|               Bar|   2019-08-05 18:42:26|                null|
|      1002213|KINGDOM 5-KR|   Yacht|2019-10-01 06:45:41|         4.800|2019-10-01 20:59:21|           4.800|120829763|  Italy| 23282|Siracusa|         14|Port Said West Side|2019-10-04 10:00:00|      2019-09-29 09:42:17|              1922|                Italy|                        I|          San Remo|   2019-09-29 12:58:52|                null|
|      1002213|KINGDOM 5-KR|   Yacht|2019-10-01 00:50:33|         4.800|2019-10-01 00:50:33|           4.800|120795376|   null|  null|    null|       null|               null|               null|                     null|              null|                 null|                     null|              null|                  null|Transit Strait of...|
|      1002213|KINGDOM 5-KR|   Yacht|2019-09-29 09:42:17|         4.800|2019-09-29 12:58:52|           4.800|120734374|  Italy| 23034|San Remo|          3|           Siracusa|2019-10-01 04:00:00|      2019-09-24 07:36:00|              1922|                Italy|                        I|          San Remo|   2019-09-24 11:55:08|                null|
|      1002213|KINGDOM 5-KR|   Yacht|2019-10-05 14:50:19|         4.800|2019-10-05 14:50:19|           4.800|120985380|   null|  null|    null|       null|               null|               null|                     null|              null|                 null|                     null|              null|                  null|Transit Suez Canal S|
+-------------+------------+--------+-------------------+--------------+-------------------+----------------+---------+-------+------+--------+-----------+-------------------+-------------------+-------------------------+------------------+---------------------+-------------------------+------------------+----------------------+--------------------+
only showing top 5 rows

None

In [15]:
# merged.write.option("header",True).csv("IHS/merged_Stealth_IHS_2019_2020.CSV")
merged.coalesce(1).write.option("header",True).csv("merged_Stealth_IHS_19_20_withHeader")

In [10]:
temp= spark.read.option("header","true").format("csv").load("merged_Stealth_IHS_19_20/merged_Stealth_IHS_19_20.csv")
print(temp.count(),len(temp.columns))
temp.show(5)

2360036 21
+-------+------------+-----+-------------------+------+-------------------+------+---------+-----+-----+----------+----+-------------------+-------------------+-------------------+----+----------+----+--------------------+-------------------+--------------------+
|1002213|KINGDOM 5-KR|Yacht|2019-09-24 07:36:00|4.8004|2019-09-24 11:55:08|4.8006|120525198|Italy|23034|San Remo10|   4|         San Remo12|2019-09-24 08:00:00|2019-08-05 17:33:29|6289|Montenegro| MTN|                 Bar|2019-08-05 18:42:26|                _c20|
+-------+------------+-----+-------------------+------+-------------------+------+---------+-----+-----+----------+----+-------------------+-------------------+-------------------+----+----------+----+--------------------+-------------------+--------------------+
|1002213|KINGDOM 5-KR|Yacht|2019-10-01 06:45:41| 4.800|2019-10-01 20:59:21| 4.800|120829763|Italy|23282|  Siracusa|  14|Port Said West Side|2019-10-04 10:00:00|2019-09-29 09:42:17|1922|     Italy|   I|            San Remo|2019-09-29 12:58:52|                null|
|1002213|KINGDOM 5-KR|Yacht|2019-10-01 00:50:33| 4.800|2019-10-01 00:50:33| 4.800|120795376| null| null|      null|null|               null|               null|               null|null|      null|null|                null|               null|Transit Strait of...|
|1002213|KINGDOM 5-KR|Yacht|2019-09-29 09:42:17| 4.800|2019-09-29 12:58:52| 4.800|120734374|Italy|23034|  San Remo|   3|           Siracusa|2019-10-01 04:00:00|2019-09-24 07:36:00|1922|     Italy|   I|            San Remo|2019-09-24 11:55:08|                null|
|1002213|KINGDOM 5-KR|Yacht|2019-10-05 14:50:19| 4.800|2019-10-05 14:50:19| 4.800|120985380| null| null|      null|null|               null|               null|               null|null|      null|null|                null|               null|Transit Suez Canal S|
|1002213|KINGDOM 5-KR|Yacht|2019-10-05 05:45:20| 4.800|2019-10-05 07:58:28| 4.800|120972616|Egypt|14867| Port Said|   2|               null|               null|2019-10-04 15:55:42|5203|     Egypt|  ET|Port Said South A...|2019-10-05 02:57:57|                null|
+-------+------------+-----+-------------------+------+-------------------+------+---------+-----+-----+----------+----+-------------------+-------------------+-------------------+----+----------+----+--------------------+-------------------+--------------------+
only showing top 5 rows

In [ ]:
#https://towardsdatascience.com/pyspark-and-sparksql-basics-6cb4bf967e53